:root{
  --bs-gradient: linear-gradient(to right, #0f0f0f, #232323);
  --bs-whitegradient: linear-gradient(to left, #ffffff, #c2c2c2);
  --bs-bluegradient: linear-gradient(to left top, #031A9A, #8B53FF);
  --bs-darkbluegradient: linear-gradient(to left top, #021276, #6A3FCC);
  --bs-greygradient: linear-gradient(to right top, #16203f, #201a23);
  --bs-font: 'Poppins';
  --bs-black: rgb(26, 26, 26);
  --bs-white: rgb(216, 216, 216);
  --bs-grey: rgb(150, 150, 150);
  --bs-purple: #9e0083;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  background-image: var(--bs-gradient);
  color: white;
  cursor: url('/picture/selection.png'), auto;
}
nav {
  background-image: var(--bs-gradient);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow with semi-transparent black */
  color: white;
  position:sticky;
  overflow: hidden;
}
.name{
  font-family: var(--bs-font);
  font-size: x-large;
}
nav a {
  color: inherit;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: white;
  text-decoration: none;
}
header {
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: var(--bs-font); 
  font-size: 100px;
  font-weight: bolder;
}



.welcome{
  text-align: center;
  font-family: var(--bs-font);
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.welcome p{
  text-align: inherit;
  font-family: inherit;
  font-size: large;
  padding: 1rem;
}

ul{
  list-style-type: none;
  list-style: none;
}

.button-3 {
  appearance: none;
  background-image: var(--bs-bluegradient);
  /* background-color: var(--bs-bluegradient); */
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--bs-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #6d2f4f;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.profile {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding-bottom: 7rem;
}

.profile-card {
  background-image: var(--bs-darkbluegradient);
  /* background-color: var(--bs-black); */
  /* border: 1px solid #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  overflow: hidden;
  max-width: 40%; /* Adjust as needed */
  margin: 20px auto;
  text-align: center;
  font-family: var(--bs-font);
  color: white;
}

.profile-img {
  position: relative;
  /* width: 100%; */
  /* overflow: hidden; Ensures the image fits in the circle */
}

.profile-img img {
  width: 250px;
  height: 300px;
  border-radius: 10%; /* Circular image */
}

.profile-info {
  padding: 15px;
}

.experience-info {
  padding: 10px;
  margin: 15px;
  /* display: block; */
  border: 1px solid white;
  border-radius: 10px;
}

.companyLogo {
  width: 250px;
  height: auto;
}
h1 {
  text-align: center;
  font-family: var(--bs-font); 
  font-size: 30px;
  font-weight: bolder;
  margin: 10px;
  color: white;
}

h2 {
  margin: 10px 0 5px;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-family: var(--bs-font); 
  font-size: 40px;
  font-weight: bolder;
  margin: 10px;
  color: white;
}
.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  font-weight: 600px;
}

.tagBox {
  color: var(--bs-grey);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.tag {
  font-size: 16px;
  color: var(--bs-white);
  font-weight: light;
  padding: 4px 16px;
  border: 1px solid #232323;
  overflow: hidden;
  margin: 1px;
}

/* Container to hold the entire slider */
.slider-container {
  width: 60%;
  margin: auto;
  overflow: hidden; /* Hide the overflow */
  background-image: var(--bs-darkbluegradient);
  padding: 20px 0;
  border-radius: 10px;
}

/* Pause animation on hover */
.slider-container:hover .slider-track {
  animation-play-state: paused;
}

/* The inner track that will move */
.slider-track {
  display: flex; /* Align the items in a row */
  width: max-content; /* Allow the track to be wider than the container */
  animation: scroll 60s linear infinite; /* Apply animation */
}

/* Each individual slide */
.slide {
  min-width: 200px; /* Set a fixed width for each skill */
  height: auto;
  padding: 10px 20px;
  margin-right: 10px;
  background-image: var(--bs-greygradient);
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style the images inside each slide */
.slide img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px; /* Add space between the image and text */
}

/* Style the text inside each slide */
.slide p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}


/* Animation for sliding */
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}


.purpleText {
  color: var(--bs-purple);
}
.contactLinks {
  display: flex;
}